---
import Container from '@components/container.astro';
import { Image } from 'astro:assets';
import profile from '../../img/profile.jpg';
import '../../style/navbar.css'

import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '/about',
	},
	{
		title: 'Buy',
		path: '/buy',
	},
	{
		title: 'Rent',
		path: '/rent',
	},
	{
		title: 'Contact',
		path: '/contact',
	},
];

const userProfileMenu = [
	'Dashboard',
	'Setting',
	'Earnings',
	'Sign out'
]

---

<Container>
	<header class="header">
		<Astronav>
			<div class="title">
				<a href="/" class="text-lg"
					><span class="font-bold text-slate-800">The</span><span class="text-slate-500">House</span>
				</a>
				<div class="menuIcon">
					<MenuIcon class="menuOption" />
				</div>
			</div>
			<MenuItems class="menuItes">
				<ul class="navOption">
					{
						menuitems.map((item, index) => (
							<>
								{
									<li>
										<a
											href={item.path}
											class="navOptionLink"
										>
											<span> {item.title}</span>
										</a>
									</li>
								}
							</>
						))
					}
				</ul>
			</MenuItems>
		</Astronav>
		<div>
			<div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
				<button
					type="button"
					class="userBtn"
					id="user-menu-button"
					aria-expanded="false"
					data-dropdown-toggle="user-dropdown"
					data-dropdown-placement="bottom"
				>
					<Image src={profile} class:list={'w-8 h-8 rounded-full'} alt={'user'} />
				</button>
				<div
					class="userDropDown"
					id="user-dropdown"
				>
					<div class="px-4 py-3">
						<span class="userName">Bonnie Green</span>
						<span class="userName dark:text-gray-400">name@flowbite.com</span>
					</div>
					<ul class="py-2" aria-labelledby="user-menu-button">
						{
							userProfileMenu.map((data)=>(
								<>
								{
								<li>
							<a href="#" class="userMenuOption" >
									{data}</a>
						</li>
								}
								</>	
							))
						}			
					</ul>
				</div>
			</div>
		</div>
	</header>
</Container>
